<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../main.css" />
  </head>
  <body>
    <section id="content">
      <%- content %>
    </section>
  </body>
</html>